// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap');
@import './reset.scss';

$color_primaryText: #ffffff;
$color_primaryText_hightlight: #ffe878;

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font: 500 18px/28px 'Manrope', sans-serif;
  color: #000000;
}

body {}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  font: 1.1em;
  padding: 2.5em 0em;

  .resp-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  box-sizing: border-box;
}

footer {
  margin-top: auto;
  font-size: 1em;

  #w-copyright {
    font-size: 0.8em;
    text-align: right;
    padding: 10px 20px;
  }
}

a.w-logo {
  color: #000000;
  text-decoration: none;
}

ul.w-menu {
  display: flex;
  flex-direction: row;

  li {
    padding: 0px 20px;
    &:last-child {
      padding-right: 0px;
    }
  }

  a {
    color: #000000;
    text-decoration: none;
    text-transform: lowercase;
    position: relative;
  }

}

#w-intro {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  padding: 0em 0em 5em;

  .resp-wrapper {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

#w-intro-left {
  padding-left: 2em;
  h2 {
    font: 700 2.8em 'Sulphur Point', sans-serif;
    line-height: 1.3em;
    color: #000000;
  }
  p {
    font-size: 1em;
    font-weight: 500;
    line-height: 1.4em;
    color: #777777;
  }
}

#w-intro-right {
  margin-top: -15px;
  padding: 15px;
  background: linear-gradient(95deg,#ffffff,#f1f1f1);
  svg {
    width: 100%;
    height: 100%;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1366px) {
  footer {
    padding: 5px 5em;
  }

  .resp-wrapper {
    width: 1200px;
    margin: 0 auto;
  }


  #w-intro-right {
    margin-right: 2em;
    width: 400px;
    height: 400px;
  }
}
/** Default screens ---------- */
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  #w-intro-right { 
    display: none;
  }
  .resp-wrapper {
    width: 1000px;
    margin: 0px auto;
  }

  #w-intro-left {
    h2 {
      font-size: 2.8em;
      line-height: 1.5em;
    }
    p {
      font-size: 1.7em;
      line-height: 1.4em;
    }
  }
}
