// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
@import './reset.scss';

$color_primaryText: #ffffff;
$color_primaryText_hightlight: #ffe878;

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font: 20px/28px 'Oxygen', sans-serif;
  font-weight: 300;
  color: $color_primaryText;
}

body {
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  font: 1.1em;
  padding: 2.5em 0em;

  .resp-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  box-sizing: border-box;
}

footer {
  margin-top: auto;
  font-size: 1em;

  #w-copyright {
    font-size: 0.8em;
    text-align: right;
    padding: 10px 20px;
  }
}

a.w-logo {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0px 0px 0px rgba($color: #46407e, $alpha: 1.0);
}

ul.w-menu {
  display: flex;
  flex-direction: row;

  li {
    padding: 0px 20px;
    &:last-child {
      padding-right: 0px;
    }
  }

  a {
    text-decoration: none;
    color: $color_primaryText;
    text-transform: lowercase;
    position: relative;
  }

  a:before {
    content: attr(data-text);
    position: absolute;
    color: $color_primaryText_hightlight;
    height: 0px;
    // top: -2px;
    left: 0px;
    overflow: hidden;
    transition: all 450ms ease-in-out;
  }

  a:hover::before {
    height: 100%;
  }
}

#w-intro {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  padding: 0em 0em 5em;

  .resp-wrapper {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

#w-intro-left {
  padding-left: 2em;
  h2 {
    font: 2em 'Inconsolata', sans-serif;
    line-height: 1.3em;
    color: $color_primaryText;
  }
  p {
    font-size: 1.1em;
    line-height: 1.4em;
    margin-top: 10px;
    color: $color_primaryText_hightlight;
  }
}

#w-intro-right {
  svg {
    width: 100%;
    height: 100%;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1366px) {
  footer {
    padding: 5px 5em;
  }

  .resp-wrapper {
    width: 1200px;
    margin: 0 auto;
  }


  #w-intro-right {
    padding-right: 2em;
    width: 400px;
    height: 400px;
  }
}
/** Default screens ---------- */
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  #w-intro-right { 
    display: none;
  }
  .resp-wrapper {
    width: 1000px;
    margin: 0px auto;
  }

  #w-intro-left {
    h2 {
      font-size: 2.8em;
      line-height: 1.5em;
    }
    p {
      font-size: 1.7em;
      line-height: 1.4em;
    }
  }
}
