@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import './reset.scss';

$color_primaryText: #ffffff;
$color_primaryText_hightlight: #ffe878;

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font: 300 20px/26px 'Inter', sans-serif;
  color: $color_primaryText;
}

body {
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

footer {
  margin-top: auto;
  font-size: 1em;

  #w-copyright {
    font-size: 0.8em;
    text-align: right;
    padding: 10px 20px;
  }
}

a.w-logo {
  font-size: 1em;
  text-decoration: none;
  color: #fff1bf;
  text-shadow: 0px 0px 0px rgba($color: #46407e, $alpha: 1.0);
}

ul.w-menu {
  display: flex;
  flex-direction: row;

  li {
    padding: 0px 20px;
  }

  a {
    font-size: 1em;
    text-decoration: none;
    color: $color_primaryText;
    text-transform: lowercase;
    position: relative;
  }

  a:before {
    content: attr(data-text);
    position: absolute;
    color: $color_primaryText_hightlight;
    height: 0px;
    // top: -2px;
    left: 0px;
    overflow: hidden;
    transition: all 450ms ease-in-out;
  }

  a:hover::before {
    height: 100%;
  }
}
#w-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5em 0em;
}

#w-intro-left {
  h2 {
    font-size: 2em;
    line-height: 1.3em;
    color: $color_primaryText;
  }
  p {
    font-size: 1.1em;
    line-height: 1.4em;
    margin-top: 10px;
    color: $color_primaryText_hightlight;
  }
}

#w-intro-right {
  svg {
    width: 100%;
    height: 100%;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  header {
    padding: 2.5em 7.5em;
  }

  footer {
    padding: 5px 5em;
  }

  #w-intro-left {
    padding-left: 12em;
  }

  #w-intro-right {
    padding-right: 12em;
    width: 600px;
    height: 500px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  header {
    padding: 2.5em 7.5em;
  }
}
